body {
	margin: 0;
	display: grid;
	grid-template-areas:
		'sideLeft game	 sideRight'
		'bottom 	bottom bottom';
	grid-template-rows: 1fr auto minmax(1fr, auto);
	grid-template-columns: 1fr auto 1fr;
	row-gap: 1rem;
	font-family: 'Courier New', Courier, monospace;
	background-color: #008989;
}
h1 {
	grid-area: header;
	text-align: center;
	font-size: xx-large;
}
.game {
	grid-area: game;
}
.sideLeft {
	grid-area: sideLeft;
}
.text {
	background-color: #0007;
	border-radius: 5px;
	width: 10rem;
	padding: 0.3rem 0;
	text-align: center;
	color: rgb(255, 255, 255);
	margin-top: 5px;
}
.sideRight {
	grid-area: sideRight;
}
.nextTetromino {
	--borderRadius: 5px;
}
.nextTetromino > :first-child {
	border-top-right-radius: var(--borderRadius);
	border-top-left-radius: var(--borderRadius);
}
.nextTetromino > :last-child {
	border-bottom-right-radius: var(--borderRadius);
	border-bottom-left-radius: var(--borderRadius);
}
[class*='side'] {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}
.bottom {
	grid-area: bottom;
	padding: 1rem;
	box-shadow: 0 0 10px 5px #000000b8;
	background-color: #01b0b0;
}
.bottom > h2 {
	border-bottom: 1px solid black;
}
.bottom > h2:first-child {
	margin-top: 0;
}
.nextTetromino {
	display: flex;
	flex-direction: column;
}
